.mainArtistas{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 5% 5%;
    display: flex;
    h4{
        color: aliceblue;
        font-size: 4rem;
        margin: 1rem;
    }
}
.artistContainer{
    margin-left: 15%;
    margin-top: 5%;
    height: 80vh;
    width: 113vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    align-content: flex-start;
}
.artistCard{ 
    img{
    margin: 0.5rem;
    width: 150px;
    cursor: pointer;
    box-shadow: 5px 8px 12px black;
        &:hover{
            transform: scale(1.1);
        }
        &:hover{
            color: rgb(138, 140, 142);
            opacity: 0.5;
            box-shadow: 5px 8px 12px black;    
        }
    }
}
.textCard p:hover{
    opacity: 1;
}