footer{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#313638;
    padding: 20px;
    display: flex;

    a{
        margin-right: 2%;
        font-size: 20px;
        color: aliceblue;
        text-decoration: none;
        cursor: pointer;
    }
}
footer #footoindex:hover{
    color: rgb(138, 140, 142);
}