@import"./../layout/header";
@import"./../layout/footer";
@import"./../layout/cards";
@import"./../layout/artists";
@import"./../layout/variables";

body{
    background:linear-gradient(0deg, #1e1f20, #1e1f20);
    margin: 0px;
    font-family: 'Ubuntu Condensed', sans-serif;
    box-sizing: border-box;
    size: 100vh;
}

/*------------------------------------------------ L A N D I N G ----------------------------------------------------------------------------*/

    .landing{
        font-family: 'Ubuntu Condensed', sans-serif;   
        margin: 0;
        width: 100%;
        height: 114.8%;
        position: absolute;
        text-align: center;
        background-color: #00000082;
        h1{
            margin: 30vh;
            color: aliceblue;
            text-shadow: #1e1f20;
            font-size: 6rem;
        }
        a{
            border-color:aliceblue;
            font-size: 4rem;
            color: aliceblue;
            text-decoration: none;
            z-index: 0;
        
            p{
                z-index: 0;
                cursor: pointer;
            }
        }
    }
    
    .videoBackground{
        width: 100%;
        box-shadow: #000000;
    }

/*----------------------------------------------- I N D E X -----------------------------------------------------------------------*/

    .mainPresentacion{
        font-family: 'Ubuntu Condensed', sans-serif;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30% 70%;
        gap: 1em;
        grid-template-areas: 
        "header header header"
        "content content img"
        "content content img";

            h1{
                text-align: center;
                font-size:  3.5rem;
                color: aliceblue;
                text-shadow:  black 2px 2px 2px;
                grid-area: header;
        }
            p{
                color: aliceblue;
                text-shadow:  black 2px 2px 2px;
                font-size: 1.4rem;
                text-align: justify;
                height: 47vh;
                width: 93vh;
                grid-area: content;
            }
            img{
                margin: 5%;
                padding-bottom: 20%;
                width: 25vw;
                grid-area: img;
            &:hover{
                transform: scale(1.01);
            }
            }
    
    }


/*---------------------------------------------------------- M E Z C L A --------------------------------------------------------------------*/ 

.mainMezcla{
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 60%;
    gap: 1em;
    grid-template-areas: 
    "header header header"
    "img    content nothing" 
    "img    content nothing"; 
    h2{
        color: aliceblue;
        font-size: 3.5rem;
        grid-area: header;
        text-align: right;
    }
    p{
        color: aliceblue;
        font-size: 1.7rem;
        text-align: justify;
        grid-area: content;
        margin-bottom: 5%;
    }
    img{
        margin-bottom: 5%;
        width: 450px;
        grid-area: img;
            &:hover{
            transform: scale(1.01);
        }
    }
}

/*--------------------------------------------------------------- M A S T E R ---------------------------------------------------*/

.mainMastering{
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-template-areas: 
    "header header header"
    "content content content"
    "img     img     img";
    h3{
        color: aliceblue;
        font-size: 3.5rem;
        text-align: center;
        grid-area: header;
    }
    p{
        color: aliceblue;
        font-size: 1.5rem;
        text-align: justify;
        text-align: center;
        grid-area: content;
    }
}

.fotoMaster{
    margin: 10%;
    padding-left: 7%;
    grid-area: img;
    align-content: center;
    width: 80%;
}

/*------------------------------------------------------------ A R T I S T A S ------------------------------------------------------*/

.mainArtistas{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 5% 5%;
    display: flex;
}
.artistContainer{
    margin-left: 15%;
    margin-top: 5%;
    height: 600px;
    width: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    align-content: flex-start;
}


/*---------------------------------------------------------- C O N T A C T O ---------------------------------------------*/
.mainContacto{
    font-family: 'Ubuntu Condensed', sans-serif;
    height: 700px;
    margin: 50px;
    padding: 10px 10px;
    display: flex;
    .carousel-item .d-block{
        z-index: 0;
    }    
}

#contacto{
    color: aliceblue;
    margin: 25px;
    font-size: 50px;
}

.formularioContacto{
    color: aliceblue;
    margin: 100px;
    padding: 25px;
    justify-content: center;
    align-content: center;
    font-size: 24px;
}

/*--------------------------- C E L U L A R E S --------------------------------------------------------------------------*/
/*--------------------------- C E L U L A R E S --------------------------------------------------------------------------*/

@media (max-width: 480px) {

    .landing{
        font-family: 'Ubuntu Condensed', sans-serif;   
        margin: 0;
        width: 100%;
        height: 20%;
        text-align: center;
        background-color: #00000082;
        h1{
            margin: 5vh;
            color: aliceblue;
            text-shadow: #1e1f20;
            font-size: 2rem;
        }
        a{
            border-color:aliceblue;
            font-size: 2rem;
            color: aliceblue;
            text-decoration: none;
            z-index: 0;
        }
    }
    .mainPresentacion{
        height: 155vh;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 50% 45%;
        grid-template-areas: 
        "header"
        "content"
        "img";
        h1{
            padding: 5px;
            margin: 10px;
            justify-content: center;
            font-size: 2rem;
            
        }
        p{
            font-size: 1.1rem;
            text-align: center;
            width: 90vw;
            margin-bottom: 5vw;
        }
        img{
            align-content: center;
            margin: 5vw;
            padding: 5%;
            width: 65%;
            grid-area: "img";
        }
    }
    .mainMezcla{
        grid-template-columns: 1fr;
        grid-template-rows: 15% 30% 20%;
        grid-template-areas: 
        "header"
        "img   " 
        "content";
        h2{
            font-size: 3rem;
            text-align: center;
        }
        p{
            font-size: 1.3rem;
            text-align: justify;
            grid-area: content;
            padding: 5%;
            margin: 10%;
        }
        img{
            margin-bottom: 5%;
            margin-left: 10%;
            width: 300px;
        }        
    }
    .ofertaContainer{
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 10px;
        padding-bottom: 2%;
        .card{
            margin: 25px;
            width: 370px;
            height: 450px;
        }
    }
    .mainMastering{
        margin: 1rem;
        height: 160svh;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 20% 20% 5%;
        gap: 0;
        grid-template-areas: 
        "header"
        "content"
        "img"
        "card"
        ;
        h3{
            margin-top: 5%;
            margin: 0.5rem;
            padding: 0.2rem;
            font-size: 2rem;
            text-align: center;
        }
        p{
            padding: 1rem;
            height: 10vw;
            width: 60vh;
            font-size: 1rem;
            text-align: justify;
            text-align: center;
        }
    }
    .fotoMaster{
        margin: 0.5rem;
        padding: 0%;
        height: 70vh;
        img{
            padding: 0rem;
            margin:0.5rem;
            margin: 0px;
            width: 50vh;
            align-content: center;
        }
    
    }
    .card{
        margin: 11%;
        grid-area: card;
        align-content: center;
        .btn{
            margin: 10%;
        }
        .card-body{
            margin-top: 0%;
            h3{
                font-size: 2rem;
                color: aliceblue;
            }
            p{
                margin-right: 5px;
                padding: 5px;
                width: 250px;
                height: 2rem;
                font-size: 1rem;
                text-align: justify;
                align-items: center;
            }
            a{
                margin: 5px;
                font-size: 20px;
                align-content: center;
                justify-content: center;
            }
        }
    }
    .mainArtistas{
        flex-direction: column;
    }
    .artistContainer{
        margin-left: 5%;
        margin-top: 5%;
        height: 1550px;
        width: 200px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: space-evenly;
        align-content: flex-start;
    }
    .artistCard img{
        margin: 10px;
        width: 150px;
    }
    #artistas{
        margin-left: 120px;
        font-size: 40px;
        justify-content: center;
    }
    .mainContacto{
        height: 700px;
        margin: 5px;
        padding: 10px 10px;
        flex-direction: column; 
    }
    
    #contacto{
        margin: 10px;
        font-size: 50px;
        align-content: center;
    }
    
    .formularioContacto{
        width: 340px;
        margin: 0px;
        margin-left: 0px;
        padding: 5px;
        justify-content: none;
        justify-content: left;
        font-size: 1rem;
    }
    .carousel-item img{
        width: 30%;
    }


}

/*----------------------------------------- T A B L E T S -------------------------------------------------------------------*/
/*----------------------------------------- T A B L E T S -------------------------------------------------------------------*/

@media (min-width:481px) and (max-width:1024px){
    .landing{
        font-family: 'Ubuntu Condensed', sans-serif;   
        margin: 0rem;
        width: 100%;
        height: 50vw;
        text-align: center;
        background-color: #00000082;
        h1{
            margin: 3rem;
            color: aliceblue;
            text-shadow: #1e1f20;
            font-size: 3rem;
        }
        a{
            border-color:aliceblue;
            font-size: 2rem;
            color: aliceblue;
            text-decoration: none;
            z-index: 0;
        }
    }
    .videoBackground{
        width: 100%;
        box-shadow: #000000;
    }

    .mainPresentacion{
        height: 180vh;
        grid-template-columns: 1fr;
        grid-template-rows: 3% 50% 47%;
        grid-template-areas: 
        "header"
        "content"
        "img";
        p{
            width: 100%;
            margin: 1rem;
            font-size: 1.3rem;
            text-align: center;
        }
        img{
            margin-top: 7%;
            padding: 5%;
            width: 50%;
            margin-left: 25%;
            margin-bottom: 13%;
        }
    }
    .mainMezcla{
        grid-template-columns: 1fr;
        grid-template-rows: 15% 35% 30%;
        grid-template-areas: 
        "header"
        "content" 
        "img";
        h2{
            font-size: 4rem;
            text-align: center;
        }
        p{
            font-size: 2rem;
            text-align: justify;
            grid-area: content;
            margin-bottom: 5%;
        }
        img{
            margin-top: 15%;
            margin-bottom: 5%;
            margin-left: 30%;
            width: 50%;
        }        
    }
    .mainArtistas{
        flex-direction:row;
        margin: 2%;
        padding: 2%;
        width: 100vh;
        height: 150vh;
    }
    .artistContainer{
        margin: 5%;
        padding-top: 10%;
        height: 120vh;
        width: 20vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: space-evenly;
        align-content:center;
    }
    .fotoMaster{
        grid-area: img;
        align-content: center;
        justify-content:center;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 4rem;
        padding: 0%;
        width: 75%;
        img{
            padding: 0rem;
            margin-left: 2rem;
            margin-right: 0rem;
            margin: 0rem;
            width: 100%;
            align-content: center;
        }
    
    }

    .artistCard img{
        margin: 1vh;
        width: 17vh;
    }
    #artistas{
        margin-left: 2%;
        margin-right: 0%;
        font-size: 1rem;
        justify-content:center;
    }
    .mainContacto{
        height: 124vh;
        margin: 0.2rem;
        padding: 0.1rem;
        flex-direction: row; 
    }
    
    #contacto{
        margin: 0.1rem;
        font-size: 3rem;
        align-content:flex-start;
    }
    
    .formularioContacto{
        width: 60vh;
        margin: 20%;
        margin-left: 0rem;
        padding: 0.5rem;
        justify-content: center;
        font-size: 1.0rem;
    }
    .carousel-item img{
        width: 0%;
    }
}