@import"./../layout/header";
@import"./../layout/footer";
@import"./../layout/cards";
@import"./../layout/artists";
@import"./../layout/variables";

body{
    background:linear-gradient(0deg, #1e1f20, #1e1f20);
    margin: 0px;
    font-family: 'Ubuntu Condensed', sans-serif;
    box-sizing: border-box;
    size: 100vh;
}

/*------------------------------------------------ L A N D I N G ----------------------------------------------------------------------------*/

    .landing{
        font-family: 'Ubuntu Condensed', sans-serif;   
        margin: 0;
        width: 100%;
        height: 114.8%;
        position: absolute;
        text-align: center;
        background-color: #00000082;
        h1{
            margin: 30vh;
            color: aliceblue;
            text-shadow: #1e1f20;
            font-size: 6rem;
        }
        a{
            border-color:aliceblue;
            font-size: 4rem;
            color: aliceblue;
            text-decoration: none;
            z-index: 0;
        
            p{
                z-index: 0;
                cursor: pointer;
            }
        }
    }
    
    .videoBackground{
        width: 100%;
        box-shadow: #000000;
    }

/*----------------------------------------------- I N D E X -----------------------------------------------------------------------*/

    .mainPresentacion{
        font-family: 'Ubuntu Condensed', sans-serif;
        height: 100vh;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30% 70%;
        gap: 1em;
        grid-template-areas: 
        "header header header"
        "content content img"
        "content content img";

            h1{
                text-align: center;
                font-size:  3.5rem;
                color: aliceblue;
                text-shadow:  black 2px 2px 2px;
                grid-area: header;
        }
            p{
                color: aliceblue;
                text-shadow:  black 2px 2px 2px;
                font-size: 24px;
                text-align: justify;
                height: 350px;
                width: 700px;
                grid-area: content;
            }
            img{
                margin: 5%;
                width: 400px;
                grid-area: img;
            &:hover{
                transform: scale(1.01);
            }
            }
    
    }


/*---------------------------------------------------------- M E Z C L A --------------------------------------------------------------------*/ 

.mainMezcla{
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 70%;
    gap: 1em;
    grid-template-areas: 
    "header header header"
    "img    content nothing" 
    "img    content nothing"; 
    h2{
        color: aliceblue;
        font-size: 3.5rem;
        grid-area: header;
        text-align: right;
    }
    p{
        color: aliceblue;
        font-size: 1.7rem;
        text-align: justify;
        grid-area: content;
        margin-bottom: 5%;
    }
    img{
        margin-bottom: 5%;
        width: 450px;
        grid-area: img;
            &:hover{
            transform: scale(1.01);
        }
    }
}

/*--------------------------------------------------------------- M A S T E R ---------------------------------------------------*/

.mainMastering{
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-template-areas: 
    "header header header"
    "content content content"
    "img     img     img";
    h3{
        color: aliceblue;
        font-size: 3.5rem;
        text-align: center;
        grid-area: header;
    }
    p{
        color: aliceblue;
        font-size: 24px;
        text-align: justify;
        text-align: center;
        grid-area: content;
    }
}

.fotoMaster{
    margin-left: 13%;
    padding: 5%;
    grid-area: img;
    align-content: center;
}

/*------------------------------------------------------------ A R T I S T A S ------------------------------------------------------*/

.mainArtistas{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 5% 5%;
    display: flex;
}
.artistContainer{
    margin-left: 15%;
    margin-top: 5%;
    height: 600px;
    width: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    align-content: flex-start;
}
